<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="HOME" icon="ion-home"
    href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Buildings" icon="ion-ios-people"
    href="#/tab/list">
    <ion-nav-view name="list-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Technologies" icon="ion-calendar"
    href="#/tab/calendar">
    <ion-nav-view name="calendar-tab"></ion-nav-view>
  </ion-tab>
  
    <ion-tab title="Animations" icon="ion-videocamera"
    href="#/tab/animations">
    <ion-nav-view name="animations-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>